@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 1rem;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
      order: -1;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      padding: 50px;
      width: 100%;
    }

    .phoneSvg {
      stroke: $primary;
      position: absolute;
      margin: auto;
      z-index: -1;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .nameEmailContainer {
        display: flex;
        gap: 1rem;

        input {
          width: 100%;
        }
      }
      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: $primary;
        cursor: pointer;
        font-weight: 900;
        @include mobile {
          padding: 10px;
        }
      }
    }
  }

  .copyright {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: space-between;

    bold {
      font-weight: 900;
      font-size: 1.3rem;
    }
    .backToTop {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        height: 1.3rem;
      }
    }
    .backToTop:hover {
      svg {
        transform: translateY(-200px);
        transition: 3s;
        transition-timing-function: ease-in-out;
      }
    }
  }
}
