.nav-about,
.nav-services,
.nav-projects {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.nav-contact {
  font-size: 0.8rem;
  background-color: var(--primary);
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

li > a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.8rem;
}

li > a.nav-about:hover,
a.nav-services:hover,
a.nav-projects:hover {
  border-bottom: 2px solid white;
}

@media (min-width: 600px) {
  .nav-about,
  .nav-services,
  .nav-projects {
    display: block;
  }
}
